parameters:
  "service-dir":
    default: "sdk/contosowidgetmanager"
  "dependencies":
    default: ""
emit:
  - "@azure-tools/typespec-autorest"
linter:
  extends:
    - "@azure-tools/typespec-azure-rulesets/data-plane"
options:
  "@azure-tools/typespec-autorest":
    azure-resource-provider-folder: "data-plane"
    emit-lro-options: "none"
    emitter-output-dir: "{project-root}/.."
    output-file: "{azure-resource-provider-folder}/{service-name}/{version-status}/{version}/widgets.json"
  "@azure-tools/typespec-python":
    emitter-output-dir: "{output-dir}/{service-dir}/azure-contoso-widgetmanager-combined"
    namespace: "azure.contoso.widgetmanager.combined"
    generate-test: true
    generate-sample: true
    flavor: azure
  "@azure-tools/typespec-csharp":
    emitter-output-dir: "{output-dir}/{service-dir}/{namespace}"
    clear-output-folder: true
    model-namespace: false
    namespace: "Azure.Template.Contoso.Combined"
    flavor: azure
  "@azure-typespec/http-client-csharp":
    emitter-output-dir: "{output-dir}/{service-dir}/{namespace}"
    namespace: Azure.Template.Contoso.Combined
    model-namespace: false
  "@azure-tools/typespec-ts":
    emitter-output-dir: "{output-dir}/{service-dir}/contoso-widgetmanager-combined"
    package-details:
      name: "@azure/contoso-widgetmanager-combined"
    flavor: azure
  "@azure-tools/typespec-java":
    emitter-output-dir: "{output-dir}/{service-dir}/azure-contoso-widgetmanager-combined"
    namespace: com.azure.contoso.widgetmanager.combined
    flavor: azure
  "@azure-tools/typespec-go":
    emitter-output-dir: "{output-dir}/{service-dir}/azmanager-combined"
    module: "github.com/Azure/azure-sdk-for-go/{service-dir}/azmanager-combined"
    generate-fakes: true
    inject-spans: true
    single-client: true
    slice-elements-byval: true
    flavor: azure
  "@azure-tools/typespec-rust":
    crate-name: "azure_contoso_widgetmanager_combined"
    crate-version: "0.1.0"
    emitter-output-dir: "{output-dir}/{service-dir}/{crate-name}"
  "@azure-tools/typespec-client-generator-cli":
    additionalDirectories:
      - "specification/contosowidgetmanager/Contoso.WidgetManager.Shared/"
      - "specification/contosowidgetmanager/Contoso.WidgetManager/"
      - "specification/contosowidgetmanager/Contoso.Management/"
